.docx-thumbnails-container {
    max-width: 150px;
    overflow-y: auto;
    height: 300px;
}

.slds-scrollable_y {
    max-height: 300px;
    overflow-y: auto;
}

.slds-table th,
.slds-table td {
    text-align: left;
    padding: 8px;
}


/* Add border styling to table cells */
.table-cell-border {
    border: 1px solid #000000 !important; /* Light gray border */
}
.table-tr-border{
    border: 1px solid #000000 !important; 
}

.excelTable {
  width: 100% !important;
  border-collapse: collapse !important;
  border:1px solid black;
}